.img-circle{
    border-radius:20%
    width: 350px;
    height: 350px;
}

a.bouton2 {
        font-family: Verdana;
    position:relative;
    left:28%;
    padding: 25px 45px;
    background: #C45DFC;
    color: black;
    font-size: 28px;
    border-radius: 85px;
    text-decoration:none;
}
a.bouton2:hover {
background: #5D3A70;
color: black;

}
h1{
  
    padding: 25px 45px;
    background: #be88db;
    color: black;
    font-size: 28px;
    border-radius: 50px;
    text-decoration:none;
    font-family: Calibri; 
}
h2{
    font-family: Calibri; 
    font-style: italic

    line-height: 20px;
    padding: 35px 55px;
    background: #d5b5e6;
    color: black;
    font-size: 25px;
    text-decoration:none;
}